@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}
h1{
    font-size: 3rem;
}
.hero{
    padding: 100px 0;
    background: #23424A;
    color: #FFF;
}
.container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}
.hero__text{
    width: 75%;
}
.hero__text p{
    margin-bottom: 3em;
}
.btn{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    background: #38CFD9;
    color: #23424A;
    padding: 0.8em 1.5em;
    border-radius: 100px;
}
.btn:hover,
.btn:focus{
    opacity: .75;
}