@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

:root{
    /* Colors */
    --clr-bege: #F3EED9;
    --clr-brown: #824936;
    --clr-coal: #222C2A;
    --clr-blue: #23424A;
    /* Fonts */
    --font-rbt: 'Roboto', sans-serif;
    --font-pfd: 'Playfair Display', serif;
}

body{
    margin: 0;
    font-size: 1.3125rem;
    font-family: var(--font-rbt);
    color: var(--clr-coal);
    line-height: 1.6;
}

img{
    max-width: 100%;
}

h1, h2{
    font-family: var(--font-pfd);
    font-weight: 900;
    line-height: 1.1;
    margin-top: 0;
}

section{
    padding: 4em 0;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1128px;
}

.intro{
    background-color: var(--clr-bege);
    text-align: center;
    min-height: 660px;

    display: flex;
    align-items: center;
}

.intro__text{
    text-transform: uppercase;
    letter-spacing: .6em;
    font-size: 1.125rem;
    margin: 0 0 .25;
}

.intro__title{
    font-size: 3rem;
    color: var(--clr-brown);
}

.section-title{
    color: var(--clr-bege);
}

.section-title--dark{
    color: var(--clr-brown);
}

.section-three{
    background-color: var(--clr-coal);
    color: #fff;
}

.section-four{
    background-color: var(--clr-brown);
    color: #fff;
}

@media (min-width: 800px) {
    .row{
        display: flex;
    }
    .col{
        width: 100%;
    }
    .col + .col{
        margin-left: 5em;
    }
    .intro__title{
        font-size: 3.75rem;
    }
}