@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

:root{
    --clr-bege: #F3EED9;
    --clr-brown: #824936;
    --clr-coal: #222C2A;
    --clr-blue: #23424A;
}

h1{
    color: var(--clr-brown);
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
}

img{ max-width: 100%;}

.wrapper{
    background-color: var(--clr-bege);
    min-height: 660px;
    display: flex;
    text-align: center;

}

.container{
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.header{align-self: center;}

.header h2{
    color: var(--clr-coal);
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 10px;
}

.header h1{
    font-size: 3.75rem;
}

.row{
    padding: 5em 0;
}

.col{
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.col p{
    width: 48%;
    font-size: 1.3rem;
    color: var(--clr-blue);
}

.hero{
    background: var(--clr-coal);
}

.hero__col{
    display: flex;
    justify-content: space-between;
}

.hero__text{
    width: 48%;
}

.hero__text h1{
    color: var(--clr-bege);
}

.hero__text p{
    color: #FFF;
    font-size: 1.3rem;
    margin-top: 1.5em;
}

.hero-secondary{
    background: var(--clr-brown);
}